.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-small;
  background-color: #ffffff;
  margin-top: 1.5em;
  padding-bottom: 1em;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px; /* Add some margin between the links */
  padding: 0;
  width: 100%;
}

.btnPrimary {
  border-radius: 30px;

  color: #c0485a;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 0 17px;
  line-height: 50px;
  text-align: end;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnPrimary:hover {
  background-color: #c0485a;
  color: #ffffff;
}

.btnPrimary:active {
  border: 3px solid #c0485a;
}

.img {
  color: rgb(255, 255, 255);
  display: inline-block;
  position: relative;
  font-size: 15px;
  box-sizing: border-box;
  transition: 0.5s;
  border-radius: 25px;
  outline: none;

  margin: 5px;

  height: auto;
}
